.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 200px;

  background-image: linear-gradient(to right, #13182e, rgb(60, 60, 60));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 0;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #ed2603;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
